/* src/LoadingBar.css */
.loading-container {
 display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  background-color: rgba(245, 243, 243, 0.97); 
  z-index: 9999; 
}

.loading-bar {
  display: flex;
  width: 300px; 
  height: 30px; 
  border: 2px solid #000; 
  border-radius: 5px; 
  overflow: hidden; 
  
}

.loading-segment {
  flex: 1; 
  background-color: transparent; 
  border-right: 1px solid #000; 
  animation: fillSegments 2s infinite forwards; 
}


.loading-segment:last-child {
  border-right: none;
}

/* Animation for filling segments */
@keyframes fillSegments {
  0% {
    background-color: transparent;
  }
  10% {
    background-color: #000; 
  }
  20% {
    background-color: #000;
  }
  30% {
    background-color: #000;
  }
  40% {
    background-color: #000;
  }
  50% {
    background-color: #000;
  }
  60% {
    background-color: #000;
  }
  70% {
    background-color: #000;
  }
  80% {
    background-color: #000;
  }
  90% {
    background-color: #000;
  }
  100% {
    background-color: #000;
  }
}

/* Delay for each segment to create a staggered effect */
.loading-segment:nth-child(1) { animation-delay: 0s; }
.loading-segment:nth-child(2) { animation-delay: 0.2s; }
.loading-segment:nth-child(3) { animation-delay: 0.4s; }
.loading-segment:nth-child(4) { animation-delay: 0.6s; }
.loading-segment:nth-child(5) { animation-delay: 0.8s; }
.loading-segment:nth-child(6) { animation-delay: 1.0s; }
.loading-segment:nth-child(7) { animation-delay: 1.2s; }
.loading-segment:nth-child(8) { animation-delay: 1.4s; }
.loading-segment:nth-child(9) { animation-delay: 1.6s; }
.loading-segment:nth-child(10) { animation-delay: 1.8s; }


.loading-text {
  margin-top: 20px;
  font-family: 'Memories', cursive; 
  font-size: 2em;
  font-weight: bold; 
  color: #000; 
  animation: blinkText 1.5s infinite; 
  letter-spacing: 0.1em;
}

@keyframes blinkText {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}